.page-fullscreen{
    height: 100%;
}

/* FLEX */
.dflex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.just-content-center{
    justify-content: center;
}

.just-content-flex-start{
    justify-content: flex-start;
}

.just-content-between{
    justify-content: space-between;
}

/* align items*/
.a-items-center{
    align-items: center;
}

/* CONTAINER */
.container{
    margin: 0 15vw 0 15vw;
}

/* FONT COLOR */ 
.font-white{
    color:rgb(255,255,255);
}

/* MARGIN */
.margin-l-sm{
    margin-left: 3%;
}
.margin-r-sm{
    margin-right: 3%;
}