/* FLEX */
.dflex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.just-content-center{
    justify-content: center;
}

.just-content-flex-start{
    justify-content: flex-start;
}

.just-content-between{
    justify-content: space-between;
}

/* align items*/
.a-items-center{
    align-items: center;
}
.a-items-initial{
    align-items: initial;
}

/* CONTAINER */
.container{
    margin: 0 15vw 0 15vw;
}

/* FONT COLOR */ 
.font-white{
    color:rgb(255,255,255);
}

/* MARGIN */
.margin-l-sm{
    margin-left: 3%;
}
.margin-r-sm{
    margin-right: 3%;
}
.margin-t-sm{
    margin-top: 3%;
}

/* TEXT ALIGN */
.text-center{
    text-align: center;
}

/* BORDER */
.border-gray-1{
    border-color: gray;
}
.border-slim{
    border-width: 1px;
}